.date-picker {
}

.location-square {
  width: 25em;
  height: 25em;
  margin: auto;
  padding: 20em;
}

.Select-menu-outer {
  overflow: hidden;
  opacity: inherit;
}

.stat-line {
  font-size: 1.5em;
}
